#adduser{
    margin-top: 10px;
}

*{
    margin:0;padding:0;
}
img{
    border:0;
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    background-color: #F0F1F4;
}

/*div#container*/
#container{
    margin-top: 0px;
    margin: 0 auto;
    /*    width: 1400px;*/
/*    width: 90%;*/
    min-width: 1300px;
}

/*div header*/
#header {
    width: 100%;
    height: 80px;
    clear: both;
    padding: 0px;
    border-bottom:  solid 2px rgb(82, 153, 0);
    background-color: #EAF2D3;
}
#header p{
    height: 80px;
    line-height: 100px;
    font-size: 26px;
    font-family:  "黑体","宋体";
}
#header p img{
    float: left;
    margin-left: 100px;
    margin-right: 100px;
}

/*div menu*/
#menu{
    float: left;
    /*    width: 220px;  */
    width: 12%;
    min-width: 160px;
    padding: 1%;
    background-color:#EAF2D3;
/*    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #006600;*/

}
#menu p{
    font-family:  "黑体","宋体";
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: center;
}
#menu ul{
    width:100%;
    padding: 0px;
    margin: 0;
    border-top: 1px solid #666;
    list-style: none;
}

.main li{
    /*    margin-left: 20px;*/
    margin-left: 3%;

    background-color: #fff;
}


#menu a{
    /*    padding-left: 40px;*/
     font-family: "宋体", "黑体";
    padding-left: 18%;
    padding-right: 15%;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 13px;
    display: block;
    border-bottom: 1px dashed #666;
    /*background-color:   #EAF2D3;*/
    text-decoration: none;

}
.menu_1{
    /*background-color: red;*/
    background: no-repeat;
    background-image: url(../Image/menu/haschild3.gif);
    background-position: right bottom;
}
.menu_1:hover{
    background: no-repeat;
    background-image: url(../Image/menu/haschild3.gif);
    background-position: right bottom;
}
.menu_2{
    background-color:  #A7C942;
}
.menu_2 li a{
    font-family: "宋体", "黑体";
    padding-left: 18%;
    padding-right: 15%;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 10px;
    display: block;
    border-bottom: 1px dashed #666;
    background-color:white;
    text-decoration: none;
}
#menu a img{
    border:0;
    margin-top: 5px;
    margin-right: 8px;
    float:left;
    width: 20px;
    height: 20px;
}

#menu .main ul{
    display: none;
}
#menu .main ul li a{
    font-size: 12px;
}
#menu a:hover {
    /*font-size: 14px;*/
    background: #e3e3e3;
}

/*div content*/
#content{
    width: 83%;
    min-width: 800px;
    float: left;
    margin-left: 0px;
    margin-bottom: 30px;
    /*padding: 10px 20px 40px 20px;*/
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    /*background-color: #fff;*/
/*    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #006600;*/
}
#page_middle{
    margin: 0 auto;
    width: 95%;
    min-width: 1000px;
    /*background-color: #EAF2D3;*/
}
#page_place{
    /* float:left;*/
    clear: right;
    margin: 0 auto 5px auto;
}

#page_place p{
    padding: 5px;
    height: 25px;
    line-height: 25px;
    border: solid #006633 1px;
    /*    display: block;*/
    background-color: #EAF2D3;
    text-align: left;
    /*    width:auto;*/
}

fieldset {
    border:1px solid green;
    clear:left;
}

legend {
    margin-left: 15px;
    border:1px solid green;
    color:green;
    font-size:90%;
    text-align:left;
}

.loading{
    position: fixed;
    top:5%;
    left: 40%;
}
/*div footer*/
#footer {
    font-size: 15px;
    width: 100%;
    height: 35px;
    line-height: 30px;
    position: fixed;
    bottom: -8px;
    left: 0;
    clear:both;
    text-align: center;
    border-top: solid 2px rgb(82, 153, 0);
    background-image: url('../Image/subnav-gradient.png');
    background-repeat: repeat-x;
    z-index: 6000;
}

/* action message */
#action_message {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border:1px solid orange;
    z-index: 12;  /*位于页面最上层，只要比0大都可以*/
    text-align: center;
    background-color: orange;
}

/* search form */
div#search{
    clear: both;
    margin: 10px;
    border-bottom: 1px;
}

/* 分页样式 */
.newdata,.page{
    float: right;
    margin-top:10px;
    padding:15px;
    border:1px solid #e3e3e3;
}

/* table css */
#common_table
{
    width:100%;
    border-collapse:collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#common_table td, #common_table th
{
    height: 30px;
    font-size:13px;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}

#common_table th
{
    font-size:13px;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}

#common_table tr.alt td
{

    color:#000000;
    background-color:#EAF2D3;
}

#common_table tr:hover
{

    color:#000000;
    background-color:#EAF2D3;
}

#common_table2
{
    width:100%;
    border-collapse:collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#common_table2 td, #common_table2 th
{
    height: 20px;
    font-size:13px;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}

#common_table2 th
{
    font-size:13px;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:rgb(17, 142, 182);
    color:#ffffff;
}

#common_table2 tr.alt td
{

    color:#000000;
    background-color:#EAF2D3;
}

#common_table2 tr:hover
{

    color:#000000;
    background-color:#EAF2D3;
}

.excel img{
    border:none;
    padding-left: 10px;
}