body{
    
}
a
{
    text-decoration: none;
}


#map img{
    float:left;
}

#tip{
    position: absolute;
    width: 200px;
/*    height: 100px;*/
    border: 1px dotted #000;
    background-color:  #ffffcc;
    padding: 10px;
    z-index:2001;
}
#tip p{
    height: 20px;
    line-height: 20px;
    font-size: 11pt;
    background-color:  #fff;
}
#tip p button{
    margin: 15px;
    clear: both;
}
#tip1{
    position: absolute;
/*    width: 200px;*/
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    line-height: 20px;
    border: 1px dotted #000;
/*    background-color: #33ff33;*/
    background-image: url('../Image/tip1_back.png');
    color: yellow;
    z-index:1990;
}
#popmenu{
     position: absolute;
    width: 100px;
    height: 100px;
    border: 1px dotted #000;
    background-color:  #ffffcc;
    
    z-index:2002;
}
#popmenu pre{
    margin: 0;
    height: 30px;
    line-height: 30px;
    border-bottom: dotted 1px #000;
    text-align: center;
    background-color:  #c3beee;
}
#popmenu pre:hover{
    background-color:  #959f84;
    cursor: pointer;
}
.tag
{
    position: absolute;
    top:0;
    left: 0;
    z-index:2000;
}
#mapcontrol {
    position: absolute;
	height: 100px;
	width: 100px;
        z-index: 2010;
}
#mapcontrol img{
    background-color:  #ffffff;
}
#mapcontrol img:hover{
    background-color:  red;
}
#addYardMark{
    background-color: whitesmoke;
    position:absolute;
    width: 200px;
    height:80px;
    padding: 10px;
    top:400px;
    left:400px;
    border:1px solid #000;
    z-index: 2012;
}
#addCamMark{
     background-color: whitesmoke;
    position:absolute;
    width: 200px;
    height:80px;
    padding: 10px;
    top:400px;
    left:500px;
    border:1px solid #000;
    z-index: 2015;
    
}