#content_left{
    float:left;
    clear:left;
    width: 30%;
}

#content_middle{
    float: left;
    width: 65%;
    margin-left: 10px;
    margin-bottom: 20px;
}

#parterlist div{
    float: left;
    width: 150px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}
