#content_left{
    float:left;
    clear:left;
    width: 25%;
}

#content_middle{
    float: left;
    width: 70%;
    margin-left: 10px;
}

#parterlist div{
    float: left;
    width: 150px;
    height: 200px; 
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}
