#addstreet{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

#content_left{
    float:left;
    clear:left;
    width: 45%;
    min-width: 370px;
    margin-bottom: 15px
}

#content_middle{
    float: left;
    width: 50%;
    margin-left: 10px;
    min-width: 370px;
}